<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Registration Tests in English">
        <parameter name="language" value="En"/>
        <classes>
            <class name="com.academy.ui.RegistrationFormTest"/>
        </classes>
    </test>
    <test name="Registration Tests in Ukrainian">
        <parameter name="language" value="Ua"/>
        <classes>
            <class name="com.academy.ui.RegistrationFormTest"/>
        </classes>
    </test>
</suite>