<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="Registration Tests">
        <parameter name="language" value="en"/>
        <classes>
            <class name="com.academy.ui.RegistrationFormFieldTest"/>
        </classes>
    </test>
    <test name="Registration Tests in Ukrainian">
        <parameter name="language" value="ua"/>
        <classes>
            <class name="com.academy.ui.RegistrationFormFieldTest"/>
        </classes>
    </test>
</suite>